Register
<form action="/register" method="POST">
  <input
    class="input input-imdbid"
    type="email"
    name="email"
    placeholder="example@example.com"
    required="true"
  />
  <input
    class="input input-imdbid"
    type="text"
    name="username"
    placeholder="Username"
    required="true"
  />
  <input
    class="input input-imdbid"
    type="password"
    name="password"
    placeholder="Password"
    required="true"
  />

  <div class="btn-row">
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-primary" href="/">Cancel</a>
  </div>
</form>
