<header>
  <nav class="">
    <ul>
      <li class="">
        <a href="/">Home</a>
      </li>
      <li class="">
        <a href="/login">Login</a>
      </li>
      <li class="">
        <a href="/register">Register</a>
      </li>
    </ul>
  </nav>
</header>
